.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 100px;
}

.shopping-list {
  list-style-type: none;
  padding: 0;
}

.shopping-item {
  background-color: #f9f9f9;
  margin: 10px auto;
  padding: 10px;
  width: 150px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50px;
  text-align: left;
}

.add-item-form {
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.add-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #218838;
}